
/*CSS Menu Haut/Cote*/
    ul.menuHaut {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height:48px;
        /*position: fixed;
        top: 0;
        width: 100%;*/
        /*background:url("wallpaper.jpg");*/
        background-color: rgba(40,57,101,.6);
        
	/*box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);*/
        
        
    }

    li.menuHaut {
        float: left;
        border-right: 1px solid #bbb;
        cursor: pointer;
    }

    li:last-child.menuHaut {
        border-right: none;
    }

    li a.menuHaut {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
      color:#fff;
      border-color:#1161ee;
      background-color: #3477e2;
    }

    .active {
        background-color: #1161ee;
    }

    /*CSS Menu Cote*/
    ul.menuCote {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
    }

    li a.menuCote {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }


    /*li a:hover:not(.active) {
        background-color: #4CAF50;
        color: white;
    }*/

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown {
        float: left;
        overflow: hidden;

        display: inherit;
        color: inherit;
        text-align: inherit;
        padding: inherit;
        text-decoration: inherit;
    }

    .dropdown:hover {
         background-color: #1161ee;
    }

    .dropdown .dropbtn {
        cursor: pointer;
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;

        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
    }

    .show {
        display: block;
    }
